@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));